@model Khinov_LR10.Models.UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>@Model.userName</p>
    <p>@Model.email</p>
    <p>@Model.productConsult</p>
    <p>@Model.Day.Day.@Model.Day.Month.@Model.Day.Year</p>
</div>
